@font-face {
    font-family: hige;
    src: url('F5AJCHIG-2.ttf');
}

@font-face {
    font-family: mpo;
    src: url('MochiyPopOne-Regular.ttf');
}


.big_title {
    font-size: 7rem;
    font-family: hige;
}


.main_text {
    font-size: 2rem;
    font-family: mpo;
}

.banner {
    padding: 4rem;
    position: relative;
    background-image: url(../img/lookback/bg-none.png);
    background-repeat: no-repeat;
    background-size: 140% 100%;
    background-position: 50%;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.intro{
    position: relative;
    background-color:rgba(70,80,90,0.93);
    background-blend-mode:overlay;
}

.subtitle{
    font-family: mpo;
    font-size: 6rem;
}

.detail_text{
    font-family: mpo;
    font-size: 1rem;
}

.gallery{
    position: relative;

}

.comments{
    position:relative;
    background-color: rgba(0,0,0,0.92);
}

.shopping{
    position: relative;
}

.shopping_card{
    font-family: mpo;
    font-size: 1.1rem;

}

.card_title{
    font-size: 3rem;
    font-family: mpo;
    color: crimson;
}
.card_detail{
    font-size: 1rem;
    font-family: mpo;
}

.manga{
    transition: all 0.5s;
}

.manga:hover{
    filter: sepia(0.4) brightness(0.95);
    transform: scale(1.05);
}

.shopping .card{
    transition: all 0.5s;
}

.shopping .card:hover{
    transform: scale(1.05);
    filter:brightness(1.05);
}
@media screen and (max-width:992px){
    html{
        font-size: 13px;
    }

}

@media screen and (max-width:768px){
    html{
        font-size: 11px;
    }

}

@media screen and (max-width:576px) {
    html{
        font-size: 9px;
    }

}
